body {
    background-color: #f9f9f9;
    font-family: myriad Pro;
}

footer{
    height: 40px;
    margin: 30px auto;
    background-color: #e1e1e1;
    font-size: 14.67px;
}

footer li{
    list-style: none;
    display: inline-block;
}

footer a{
    text-decoration: none;
    color: #2c2c2c;
    padding: 0 30px;
    line-height: 3;
}

footer li:hover{
 text-decoration: underline;
}

footer li:last-child{
    text-decoration: none;
    margin-left: 410px;
}

#box {
    background-color: #ffffff;
    width: 1050px;
    box-shadow: 0 0 5px;
    height: 1000px;
    margin: auto;
    padding: 50px;
}

.menu{
    margin: 30px auto;
    background: -moz-linear-gradient(left, #444343 0%, #5e5e5e 50%);
    background: -webkit-linear-gradient(left, #444343 0%,#5e5e5e 50%);
    background: -o-linear-gradient(left, #444343 0%,#5e5e5e 50%);
    background: linear-gradient(left, #444343 0%,#5e5e5e 50%);
    font-size: 14.67px;
    text-shadow: 1px 1px 4px black;
}

.menu li{
    list-style: none;
    display: inline-block;
}

.menu a{
    text-decoration: none;
    color: #ffffff;
    padding: 0 30px;
    line-height: 2;
}

.menu li:hover{
    background-color: #3b3b3b;
    box-shadow: 0 0 3px #ffffff;
}

.conteiner{
    height: 680px;
    font-size: 13.3px;
}

.nav{
    float: left;
}

.conteiner li{
    list-style: none;
    display: block;
    border: solid #cccccc 1px;
}

.conteiner li:hover{
    background-color: #f9f9f9;
    font-weight: 600;
}

.conteiner a{
    text-decoration: none;
    color: #666666;
    line-height: 37.3px;
    padding: 13px 47px 13px;
}

.img{
    float: right;
    font-size: 13.3px;
    color: #333333;
    line-height: 21.3px;
    float: right;
    width: 677px;
}

