
@font-face{
    font-family: 'helveticaneuecyrroman';
    src: url(../fonts/Helvetica/helveticaregular-webfont.eot);
    src: url(../fonts/Helvetica/helveticaregular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Helvetica/helveticaregular-webfont.woff2) format('woff2'),
         url(../fonts/Helvetica/helveticaregular-webfont.woff) format('woff'),
         url(../fonts/Helvetica/helveticaregular-webfont.ttf) format('truetype'),
         url(../fonts/Helvetica/helveticaregular-webfont.svg#helveticaneuecyrroman) format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'helveticaneuecyrroman', Tahoma, sans-serif;
    background: url(../img/bg.png) top no-repeat;
    background-size: cover;
}

header{
    margin-bottom: 200px;
    width: 100%;
}

h1{
    background-color: rgba(16, 15, 15, 0.498039);
    line-height: 51px;
    margin-bottom: 2px;
    font-size: 24px;
    padding-left: 205px;
    font-weight: 100;
}

form{
    background-color: rgba(16,15,15,0.5);
    line-height: 24px;
}

input{
    background-color: rgb(16,15,15);
    border: none;
    border-bottom: #494948 solid 1px;
    line-height: 33px;
    width: 49%;
    margin-top: 20px;
    padding: 0 0 0 10px;
    font-size: 14px;
    color: #cccccc;
    margin-left: 142px;
}

input:focus{
    background-color: rgba(27,82, 136, 0.9);
    box-shadow: 0 0 20px rgba(27,82, 136, 1);
    outline: none;
}

p {
    font-size: 11px;
    color: #cccccc;
    margin: 29px 66px;
}

button{
    background: -moz-linear-gradient(bottom, #2e4378 0%, #3b5699 50%);
    background: -webkit-linear-gradient(bottom, #2e4378 0%, #3b5699 50%);
    background: -o-linear-gradient(bottom, #2e4378 0%, #3b5699 50%);
    background: linear-gradient(bottom, #2e4378 0%, #3b5699 50%);
    color: #ffffff;
    width: 282px;
    border: none;
    margin-top: 32px;
    font-size: 11px;
    margin-left: 140px;
}

span{
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
}

button h3{
    float: left;
    padding: 7px 13px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    border-style: ridge;
    border-color: #4c65a5;
    border-width: 2px;
    border-top: none;
    border-bottom: none;
    border-left: none;
} 

h2{
    padding: 10px 1px;
    text-decoration: none;
    color: #ffffff;
}

button a{
    text-decoration: none;
}

.menu{
    overflow: hidden;
    width: 100%;
    list-style: none;
    background-color: rgb(8, 85, 150);
}

.menu li{
    float: right;
    display: block;
    padding: 0px 2% 0px 0px;

}

.menu li a{
    display: block;
    padding: 0px 8px 0px 8px;
    color: #4eabda;
    text-decoration: none;
    line-height: 40px;
 }   
  
.menu li a:hover{
    color:#fff;
    background:#4eabda;
}

.ajuda{
    border-right: #4eabda solid 1px;
}

.menu li .gradient:hover{
    background: -moz-linear-gradient(bottom, #2e7ac4 0%, #4eacda 50%);
    background: -webkit-linear-gradient(bottom, #2e7ac4 0%,#4eacda 50%);
    background: -o-linear-gradient(bottom, #2e7ac4 0%,#4eacda 50%);
    background: linear-gradient(bottom, #2e7ac4 0%,#4eacda 50%);
    border-right: #4eabda solid 1px;
}

.blok{
    margin: auto;
    color: rgb(255, 255, 255);
    width: 560px;
}

.fb {
    padding: 30px 139px 0px;
}

.submit{
    background: -moz-linear-gradient(bottom, #2e7ac4 0%, #4eacda 50%);
    background: -webkit-linear-gradient(bottom, #2e7ac4 0%,#4eacda 50%);
    background: -o-linear-gradient(bottom, #2e7ac4 0%,#4eacda 50%);
    background: linear-gradient(bottom, #2e7ac4 0%,#4eacda 50%);
    color: #ffffff;
    width: 150px;
    border-radius: 5px;
    padding: 0px;
    margin-left: 200px;
}

.line{
    width: 100%;
    margin: 22px 83px;;
}

.float{
    float: left;
    line-height: 14px;
    width: 33%;
    margin-top: 8px;
}

.float_1{
    float: left;
    padding: 0 2px;
}

.border{
    border-top: 1px solid gray;
    border-bottom: 1px solid black;
    height: 0;
}

#checkbox {
    border: none;
    width: 6%;
}

.privacy{
    font-size: 11px;
    color: #cccccc;
    margin: 21px 63px;
}



