@media screen and (min-width:480px) and (max-width: 767px) {
   
.mountains__content {
    padding: 12px 0px 0px;
}

.logo{
    margin-left: 9%;
    margin-top: 71px;
}

header{
    width: 90%;
    height: 200px;
}

.nav {
    position: absolute;
    margin-top: 130px;
    left: 25%;
}

.nav ul {
    width: 245px;
    padding: 0 0;
    position: absolute;
    top: 22%;
}

.nav .item_curent{
    float: none;
    display: block;
}

.nav .item_curent {
    padding: 0px 0px 0 0px;
    text-align: center;
}

.nav .item_curent a {
    height: 35px;
    padding-top: 6%;
}

.nav .item{
    float: none;
    display: none;

}

.nav .item {
    padding: 0 0 0 0;
    text-align: center;

}

.nav .item a{
    display: block;
    padding: 5% 0%;
    height: 20px;
 } 

/* при проведении мышью */
.nav ul:hover {
    height: 275px;
    border-style: groove;
    border-color: #5f496b;
    border-width: 2px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background: rgba(54, 41, 62, 0.9);
    border-radius: 6px;
    z-index: 1;
}

.nav ul:hover li {
    display: block;
    border-style: groove;
    border-color: #5f496b;
    border-width: 2px;
    border-left: none;
    border-right: none;
    border-bottom: none; 
    height: 43px;
}

.nav a:hover{
    background: rgba(0, 0, 0, 0.3);
}


.nav ul:hover .item_curent {
    border-top: none;
    height: 48px;
} 

.slider {
    height: 244px;
}

.slider__content {
    padding-left: 6%;
    padding-top: 5%;
    position: relative;
}

.arrow__slider__left {
    left: -3%;
}

.arrow__slider__right {
    position: absolute;
    top: 44%;
    left: 43%;
}

.text p{
display: none;
} 

.text {
    margin-top: 7%;
    width: 21%;
    margin-left: 1%;
}

.text h1 {
    font-size: 36px;
}

.text h2 {
    font-size: 18px;
    width: 197px;
    height: 22px;
    overflow: hidden;
}

.slider__img {
    width: 100%;
    float: none;
    position: relative;
}

.iphone {
    margin-top: -5%;
    width: 19%;
    margin-left: 2%;
}

.play{
    position: absolute;
    top: 23%;
    left: 32%;
}

.slider__button {
    position: absolute;
    top: 101%;
    right: 71%;
}

.about__content {
    width: 95%;
    padding-top: 7%;
    padding-bottom: 8%;
}

.about{
    width: 88%;
    float: none;
    margin-left: 7%;
}

.about p{
    padding: 1% 0% 8% 10%;
    height: 67px;
}

.about h3{
     padding: 16px 0px 0% 10%;
     font-size: 26px;
}

.about h4{
     padding: 6% 0% 0% 1%;
}

.content__white__block {
    padding: 8% 2% 0%;
    width: 95%;
}

article{
    width: 96%;
}

article h3{
    padding: 12% 36% 2% 11%;
}

article p {
    padding: 0% 7% 7% 11%;
}

.autor{
    left: -21px;
    top: 16%;
}

.posted p{
    padding: 0% 16%;
    width: 264px;
    height: 21px;
    overflow: hidden;
    line-height: 20px;
} 

.updates {
    width: 84%;
    margin-left: 17%;
    margin-top: 18%;
}

.posted .img1 {
    top: 12%;
    left: -13px;
}

.posted .img2 {
    top: 30%;
    left: -13px;
}

.posted .img3 {
    top: 47%;
    left: -13px;
}

.updates{
    position: relative;
}

.slider__white__button {
    position: absolute;
    top: -11%;
    left: 29%;
}

.updates h3{
    margin-top: 5%;
    margin-left: 2%;
}

.updates h5{
    margin-top: 8%;
    margin-right: 15%;
}

.content__white__block__border {
    width: 90%;
}

.company li{
    margin: 7% 22px 3% 27px;
}

.content__grey__block{
    width: 90%;
    padding: 15% 0 8%;
}

.info{

    width: 99%;
    float: none;
}

.info h5 {
    display: none;
}

.info p{
    padding: 1% 0% 16px 0%;
    height: 82px;
    overflow: hidden;
    margin-bottom: 12%;
    line-height: 26px;
}

.info h3{
    font-size: 26px;
}

.info h2{
    margin-left: 0%; 
    line-height: 26px;
    font-size: 26px;
}

.info span {
    font-size: 25px;
}

footer li{
   padding: 2% 2% 0px 2%;
}

footer{
    width: 97%;
    padding: 3% 1% 85px;
}

.copyright{
    padding-right: 0;
    padding-top: 6%;
    margin-right: 39%;
}
