body{
    background: url(../img/bg.png) repeat-x;
    font-family: Tahoma;
    padding: 41px 0;
}

.conteiner {
    background-color: #ffffff;
    box-shadow: 0 0 5px;
    width: 1000px;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.conteiner:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.header{
    font-size: 12px;
    color: #128aa7;
}

.logo{
    float: left;
    margin: 10px 25px 0 
}

.logo p{
    position: absolute;
    top: 130px;
    left: 119px;
}

.photo{
        height: 409px;
}

.contacts{
    float: right;
    margin: 10px 25px;
}

.contacts p {
    line-height: 24px;
      text-align: right;
} 

.contries{
    font-size: 10px;
    list-style: none;
    position: absolute;
    top: 111px;
    right: 17px;
}

.contries p {
    text-align: center;
    color: #128aa7;
}
    
.contries li{
    display: inline-block;
    text-align: center;
}

.contries a{
    text-decoration: none;
    color: #128aa7;
}

#nav{
    float:left;
    width:100%;
    list-style:none;
    background-color: #303030;
    box-shadow: 1px 1px 4px black;
    position: relative;
    z-index: 500;
    font-size: 14px;
}

#nav li{
    float:left;
    position:relative;
    display:block;
    padding: 0px 41px 0 0;

}

#nav li a{
    display:block;
    padding:5px 0px 9px 20px;
    color:#fff;
    text-decoration:none;

 }   
  
#nav li a:hover{
    color:#fff;
    background:#303030;
    text-decoration: underline;
    
}

#nav ul{
    list-style:none;
    position:absolute;
    left:-9999px; 

}

#nav ul li{
    float:none;
}

#nav ul a{
    white-space:nowrap; 
    display:block;

}

#nav li:hover ul{ 
    left:0; 
    opacity:1;
    box-shadow: 1px 1px 4px black; 
    background:#303030;
}

.fon {
    width: 1000px;
    background: url(../img/fon.png) repeat-y; 
    float: left; 
}


.leftcolumn {
    width: 210px;
    float: left;
    line-height: 24px;
    text-align: center;
}

.centercolumn {
    width: 580px;
    float: left;
}

.rightcolumn {
    width: 210px;
    float: right;
    line-height: 24px;
     text-align: center;
}

.copy{
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}
